{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ page.title | richtext }}</h1>
		<p>{{ page.body | richtext }}</p>
    </div>

	<div class="well">Recent Blogs</div>

	<div class="list-group">
    {% for post in blogs %}
        <a class="list-group-item" href="{% pageurl post %}">
            <div class="media">
                {% with post.specific.main_image as main_image %}
                    {% if main_image %}
                        <div class="media-left">
                            {% image main_image width-200 as img %}
                            <img class="media-object" src="{{ img.url }}" />
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="media-body">
                    <h4 class="media-heading">{{ post.title }}</h4>
                    <p><strong>{{ post.specific.date }}</strong></p>
                    <p> {{ post.specific.intro }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>

{% endblock %}
