{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# External stylesheets #}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

		<nav class="navbar navbar-inverse">
  			<div class="container">
    			<ul class="nav navbar-nav">
                    <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
      				<li><a href="/about">About</a></li>
      				<li><a href="/blog">Blog</a></li>
      				<li><a href="/contact">Contact</a></li>
    			</ul>
				<form class="navbar-form navbar-right">
      				<div class="input-group">
        				<input type="text" class="form-control" placeholder="Search">
      		            <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
    			</form>
  			</div>
		</nav>


        <div class="main container">
            {% block content %}{% endblock %}
        </div>

		<div class="navbar navbar-default navbar-fixed-bottom">
    		<div class="container">
      			<p class="navbar-text pull-left">© 2017 - Site Built By Mr. X.
      			</p>
      			<a href="#" class="navbar-btn btn-danger btn pull-right">
      				<span class="glyphicon glyphicon-star"></span>Subscribe
				</a>
    		</div>
  		</div>

        {# External javascript #}
        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
