{%extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    <div class="list-group">
    {% for post in blogpages %}
        <a class="list-group-item" href="{% pageurl post %}">
            <div class="media">
                {% with post.specific.main_image as main_image %}
                    {% if main_image %}
                        <div class="media-left">
                            {% image main_image width-200 as img %}
                            <img class="media-object" src="{{ img.url }}" />
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="media-body">
                    <h4 class="media-heading">{{ post.title }}</h4>
                    <p><strong>{{ post.specific.date }}</strong></p>
                    <p> {{ post.specific.intro }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>

    <p><a href="{{ page.get_parent.url }}"><button type="button">Return to home</button></a></p>

{% endblock %}
