{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

	{% with categories=page.categories.all %}
    	{% if categories %}
        	<h3>Posted in:</h3>
        	<ul>
            	{% for category in categories %}
                	<li style="display: inline">
                    	{% image category.icon fill-32x32 style="vertical-align: middle" %}
                    	{{ category.name }}
                	</li>
            	{% endfor %}
        	</ul>
    	{% endif %}
	{% endwith %}

	{% if page.tags.all.count %}
        <div class="tags">
            <h3>Tags</h3>
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-tag"></i>
                    {{ tag }}
                </a>
            {% endfor %}
        </div>
    {% endif %}

	<hr />

	<div class="row">
		<p>{{ page.intro }}</p>
    	<p>{{ page.body|richtext }}</p>
	</div>

	<hr />

	<blockquote class="pull-left">
     	<p>The world is a dangerous place to live; not because of the people who are evil,
 but because of the people who don't do anything about it.</p>
     	<small>by <cite>Albert Einstein</cite></small>
	</blockquote>

    <div class="backlink">
        <p><a href="{{ page.get_parent.url }}"><button type="button">Return to blog</button></a></p>
    </div>

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

{% endblock %}
