{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    {% if request.GET.tag|length %}
        <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
    {% endif %}

    {% for blogpage in blogpages %}
          <p>
              <strong><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></strong><br />
              <small>Update: {{ blogpage.latest_revision_created_at }}</small><br />
              <p>{{ blogpage.specific.intro }}</p>
          </p>
    {% empty %}
        No pages found with that tag.
    {% endfor %}

{% endblock %}
